.navbar{
    width: 100%;
    height: 64px;
    position: sticky;
    top: 10px;
    left: 0;
}
.navbar .container{
    height: 100%;
}

.navbar .navbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: var(--bg-deep-green);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
}
.navbar-brand img{
    width: 32px;
}

/*menu*/
.navbar-menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*items*/
.navbar-menu-wrapper .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px
}

.navbar-menu .navbar-menu-item a {
    display: block;
    font-size: 1rem;
    transition: color 0.2s ease;
}

/*controls*/
.navbar-menu-wrapper .navbar-menu-controls{
    display: none;
}
.navbar-menu-controls button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}


/*responsive*/
@media (max-width: 1024px) {
    .navbar-menu-wrapper .navbar-menu-controls{
        display: block;
        margin-right: 1rem;
    }
    .navbar-menu {
        position: fixed;
        top: 84px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid #ffffff;
        border-radius: var(--card-border-radius);
        width: 100%;
        max-width: calc(100vw - 2rem);
        background: var(--bg-deep-green);
        flex-direction: column;
        align-items: flex-start!important;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    .navbar-menu.mobile-nav-open {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

}