.pagination {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.pagination .disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.pagination .disabledNumber {
    background: var(--bg-deep-green);
    cursor: default;
    pointer-events: none;
}